.grilla {
    display: grid;
    grid-template: repeat(4, minmax(10px, 1fr)) / repeat(12, minmax(10px, 1fr));
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "s s c c c c c c c c a a"
        "s s c c c c c c c c a a"
        "f f f f f f f f f f f f";
}

.grilla > div {
    border: 4px solid rgb(155, 203, 239);
    padding: 20px;
    text-align: center;
}

h3 {
    color: rgb(214, 200, 200);
}
.header {
    grid-area: h;
}

.sidebar {
    grid-area: s;
}

.content {
    grid-area: c;
}

.chat {
    grid-area: a;
}

.footer {
    grid-area: f;
}

body {
    background-color: rgb(52, 52, 41);
    border: 4px solid rgb(155, 203, 239);
    padding: 5px;
}

@media only screen and (max-width: 900px) {
    .grilla {
      grid-template: repeat(auto-fit, minmax(10px, 1fr)) / 1fr;
      grid-template-areas:
        "h"
        "s"
        "c"
        "a"
        "f";
    }
  }